.product {
   margin-bottom: rem(120);
   @media(max-width: $mobileSmall) {
      margin-bottom: rem(100);
   }
   &__container {
   }

   &__about {
      display: flex;
      align-items: flex-start;
      @media(max-width: $tablet) {
         flex-direction: column;
      }
   }

   &__sliders {
      max-width: rem(605);
      width: 100%;
      margin-right: rem(120);
      @media(max-width: $notebook) {
         margin-right: rem(100);
      }
      @media(max-width: em(1169.98)) {
         max-width: rem(480);
      }
      @media(max-width: $tablet) {
         max-width: rem(640);
         margin: 0 auto;
         margin-top: rem(30);
      }
   }

   &__slider-image {
      img {
         display: block;
         max-width: 100%;
         object-fit: cover;
      }
   }

   &__big-slider {
      .product__slider-image {
         border-radius: rem(16);
         img {
            border-radius: rem(16);
         }
      }
      margin-bottom: rem(24);
      .slick-arrow {
         position: absolute;
         z-index: 2;
         top: 50%;
         transform: translateY(-50%);
         svg {
            display: block;
            width: rem(35);
            height: rem(35);
         }
         transition: all 0.32s ease-in-out;
         &.slick-disabled {
            transform: translateY(-50%) scale(0);
            opacity: 0;
         }
      }
      .product__big-next.slick-arrow {
         right: rem(37);
      }
      .product__big-prev.slick-arrow {
         left: rem(18);
         svg {transform: rotate(-180deg);}
      }
      .slick-slide:not(:last-child) {
         margin-right: rem(15);
      }
   }

   

   &__mini-slider {
      .product__slider-image {
         border: 3px solid transparent;
         border-radius: rem(12);
         transition: border-color 0.3s ease;
         img {
            border-radius: rem(12);
         }
      }
      
      .slick-current.product__slider-image {
         border-color: var(--clr-yellow);
      }
      .slick-slide:not(:last-child) {
         margin-right: rem(15);
      }
      .slick-arrow {
         position: absolute;
         top: 50%;
         right: rem(-35);
         transform: translateY(-50%);
         svg {
            display: block;
            width: rem(35);
            height: rem(35);
         }
         @media(max-width: $mobile) {
            display: none;
         }
      }
   }

   

   &__content {
      h1 {
         position: relative;
         font-weight: 900;
         font-size: rem(36);
         line-height: 1.25;
         &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -60%;
            margin-left: rem(-15);
            width: 60%;
            height: 2px;
            background-repeat: repeat-x;
            background-position: center;
            background-image: url("@img/icons/line.svg");
            background-size: contain;
         }
         @media(max-width: $tablet) {
            text-align: center;
            margin: 0 auto;
         }
         ~ span {
            font-weight: 500;
            font-size: rem(14);
            line-height: 1.25;
            @media(max-width: $tablet) {
               display: block;
               text-align: center;
            }
         }
      }
      @media(max-width: $tablet) {
         width: 100%;
         margin-top: rem(40);
      }
   }

   &__price-all {
      margin: rem(20) 0 rem(25);
      @extend %fl-r-ct;
      justify-content: space-between;
      border-radius: rem(16);
      padding: rem(10) rem(20);
      background-color: #f8f8f8;
      > div {
         font-weight: 500;
         font-size: rem(18);
         line-height: 1.25;
         @media(max-width: $mobileNormal) {
            font-size: rem(16);
         }
         @media(max-width: $mobileSmall) {
            font-size: rem(14);
         }
      }
      > span {
         padding: rem(8) rem(20);
         box-shadow: 0px 4px 50px rgba(109, 109, 109, 0.31);
         background-color: var(--clr-yellow);
         border-radius: em(100);
         font-weight: 700;
         font-size: rem(18);
         line-height: 1.25;
         @media(max-width: $mobileNormal) {
            font-size: rem(16);
         }
         @media(max-width: $mobileSmall) {
            font-size: rem(14);
         }
      }
      @media(max-width: $tablet) {
         justify-content: center;
         margin: rem(20) auto rem(25);
         max-width: max-content;
      }
   }

   &__price {
      margin: 0 rem(40);
      display: flex;
      flex-direction: column;
      span:first-child {
         font-weight: 500;
         font-size: rem(16);
         line-height: 1.25;
         text-decoration: line-through;
         white-space: nowrap;
      }
      span:last-child {
         white-space: nowrap;
         font-weight: 900;
         font-size: rem(24);
         line-height: 1.25;
         color: var(--clr-yellow);
         @media(max-width: em(1023.98)) {
            font-size: rem(22);
         }
         @media(max-width: $mobileSmall) {
            font-size: rem(20);
         }
      }
      @media(max-width: $mobileSmall) {
         margin: 0 rem(20);
      }
   }

   &__benefits {
      margin: rem(25) 0 rem(40);
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      ul {
         padding: rem(8) rem(10);
         padding-right: 0;
         border-left: 1px dashed #828282;
      }
      ul:not(:last-child) {
         margin-right: rem(30);
      }
      ul li:not(:last-child) {
         margin-bottom: rem(20);
      }
      ul li h2, ul li h3 {
         font-weight: 900;
         font-size: rem(24);
         line-height: 1.25;
         @media(max-width: $mobileNormal) {
            font-size: rem(22);
         }
         @media(max-width: $mobileSmall) {
            font-size: rem(20);
         }
      }
      ul li span, ul li p {
         line-height: 0.125;
         @media(max-width: $mobileSmall) {
            font-size: rem(14);
         }
      }
      @media(max-width: $tablet) {
         justify-content: center;
         margin: rem(25) auto rem(40);
      }
   }

   .info-cta {
      margin-top: rem(10);
      @media(max-width: $tablet) {
         margin: 0 auto;
         margin-top: rem(10);
         justify-content: center;
         width: auto;
      }
      @media(max-width: $mobileNormal) {
         width: 100%;
      }
   }

   &__chars {
      margin-top: rem(80);
      @media(max-width: $mobileSmall) {
         margin-top: rem(40);
      }
   }
   .tabs {
   
      nav {
         border-top: 1px dashed rgba(130, 130, 130, 0.5);
         border-bottom: 1px dashed rgba(130, 130, 130, 0.5);
         overflow-x: auto;
      }
   
      nav .container {
         display: flex;
         align-items: center;
         white-space: nowrap;
         padding: rem(22) rem(15);
      }
   
      nav button {
         padding: rem(8) rem(20);
         border: 1px solid var(--clr-yellow);
         border-radius: em(20);
         font-weight: 700;
         line-height: 1.25;
         transition: all 0.32s ease-in-out;
         @media(any-hover: hover) {
            &:hover {
               box-shadow: inset 2px 2px 5px rgba(251, 188, 27, 0.31),
                                 2px 2px 25px rgba(251, 188, 27, 0.31);
               svg {
                  transform: translateX(rem(5));
               }
            }
         }
         &:focus {
            outline: none;
            box-shadow: inset 2px 2px 5px rgba(251, 188, 27, 0.31),
                              2px 2px 25px rgba(251, 188, 27, 0.31);
            svg {
               transform: translateX(rem(5));
            }
         }
         &._tab-active {
            background-color: var(--clr-yellow);
         }
      }
   
      nav button:not(:last-child) {
         margin-right: rem(16);
      }
   
      &__content {
      }
   
      &__body {
         padding-top: rem(28);
      }
   }
   
}