.request {
   color: var(--clr-white);
   margin-top: rem(100);
   margin-bottom: rem(100);
   @media(max-width: $mobileSmall) {
      margin-top: rem(80);
      margin-bottom: rem(80);
   }
   &__container {
      display: flex;
      justify-content: space-between;
      @extend %bg-cov;
      border-radius: rem(20);
      padding: rem(48) rem(102) rem(58) rem(58);
      @media(max-width: em(1239.98)) {
         padding: rem(60) rem(50);
      }
      @media(max-width: $tablet) {
         flex-direction: column;
      }
      @media(max-width: $mobileNormal) {
         padding: rem(50) rem(30);
      }
      @media(max-width: $mobileSmall) {
         padding: rem(40) rem(20);
         margin: 0 rem(-20);
      }
      overflow: hidden;
   }

   &__content {
      max-width: rem(516);
      margin-right: rem(40);
      h2 {
         position: relative;
         margin-top: rem(10);
         &::before {
            content: "";
            position: absolute;
            top: rem(24);
            left: -100%;
            margin-left: rem(-17);
            width: 100%;
            height: 2px;
            background-repeat: repeat-x;
            background-position: center;
            background-image: url("@img/icons/line.svg");
            background-size: contain;
         }
      }
      p {
         margin-top: rem(10);
         font-weight: 700;
         font-size: rem(18);
         line-height: 1.25;
         @media(max-width: $mobileSmall) {
            font-size: rem(16);
         }
      }
      @media(max-width: $tablet) {
         margin-right: 0;
         margin-bottom: rem(40);
      }
   }

   &__tip {
   }

   &__benefits {
      margin-top: rem(40);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(50);
      ul {
         border-left: 1px dashed #828282;
         padding: rem(8) rem(10);
         padding-right: 0;
      }
      ul li:not(:last-child) {
         margin-bottom: rem(20);
      }
      ul li h3, li h4 {
         font-weight: 900;
         font-size: rem(24);
         line-height: 1.25;
         @media(max-width: $mobileSmall) {
            font-size: rem(22);
         }
      }
      ul li span, li p {
         line-height: 1.25;
         @media(max-width: $mobileSmall) {
            font-size: rem(14);
         }
      }
      @media(max-width: $mobileSmall) {
         column-gap: rem(30);
         justify-content: space-between;
      }
   }

   &__form {
      max-width: rem(386);
      width: 100%;
      @media(max-width: $tablet) {
         max-width: rem(480);
      }
   }
}