.steps {
   margin-top: rem(100);
   margin-bottom: rem(100);
   padding: rem(75) 0 rem(105);
   @extend %bg-cov;
   background-position: 40% top;
   &__body {
      max-width: rem(760);
      color: var(--clr-white);
      h2 {
         margin-top: rem(20);
         font-weight: 900;
         font-size: rem(48);
         line-height: 120%;
         @media(max-width: $tablet) {
            font-size: rem(42);
         }
         @media(max-width: $mobileNormal) {
            font-size: rem(36);
         }
         @media(max-width: $mobileSmall) {
            font-size: rem(32);
         }
         position: relative;      
         &::before {
            content: "";
            position: absolute;
            top: rem(28);
            left: -100%;
            margin-left: rem(-17);
            width: 100%;
            height: 2px;
            border: 2px dashed #FBBC1B;
         }
      }
      p {
         margin-top: rem(10);
         font-weight: 700;
         font-size: rem(18);
         line-height: 1.25;
         @media(max-width: $mobileSmall) {
            font-size: rem(16);
         }
      }
   }

   &__steps {
      @extend %listCounter;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(10);
      margin-top: rem(72);
      padding: rem(8) rem(10);
      padding-left: 0;
      border-top: 1px dashed var(--clr-white);
      li {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         &:last-child {
            color: var(--clr-yellow);
         }
      }
      li span {
         margin-top: rem(6);
         font-weight: 700;
         line-height: 1.25;
      }
      @media(max-width: $mobileNormal) {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: rem(20);
         margin-top: rem(55);
         border-top: 0;
         padding-left: rem(10);
         border-left: 1px dashed var(--clr-white);
         li {
            align-self: flex-start;
         }
      }
      @media(max-width: $mobileSmall) {
         li span {
            font-size: rem(14);
         }
      }
   }

   &__form {
      margin-top: rem(37);
      input:not([type="submit"]) {
         min-width: rem(230);
         height: rem(60);
         display: inline-flex;
         align-items: center;
         padding: 0 rem(20);
         border: 1px solid var(--clr-white);
         background-color: transparent;
         border-radius: 100px;
         font-weight: 700;
         line-height: 1.25;
         color: var(--clr-white);
         transition: box-shadow 0.3s ease-in-out;
         @media(any-hover: hover) {
            &:hover {
               box-shadow: inset 2px 2px 15px rgba(255, 255, 255, 0.4);
            }
         }
         &:focus {
            outline: none;
            box-shadow: inset 2px 2px 15px rgba(255, 255, 255, 0.4),
            2px 2px 15px rgba(255, 255, 255, 0.4);
         }
      }
      input[type="submit"] {
         min-width: rem(230);
         border-radius: 100px;
         margin-left: rem(12);
         padding: rem(20) rem(34);
         background-color: var(--clr-yellow);
         font-weight: 700;
         line-height: 1.25;
         transition: box-shadow 0.32s ease-in-out;
         @media(any-hover: hover) {
            &:hover {
               box-shadow: 0px 4px 20px rgba(251, 188, 27, 0.51);
            }
         }
         &:focus {
            outline: none;
            box-shadow: 0px 4px 50px rgba(251, 188, 27, 0.51);
         }
      }
      @media(max-width: $mobileNormal) {
         input {
            width: 100%;
            text-align: center;
         }
         input[type="submit"] {
            margin-top: rem(12);
            margin-left: 0;
         }
      }
   }

   @media(max-width: $mobileSmall) {
      padding: rem(65) 0;
      margin-top: rem(80);
      margin-bottom: rem(80);
   }
}