// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;
	// .select__body
	&__body {
		position: relative;
      font-weight: 700;
      font-size: rem(14);
      line-height: 1.25;
	}
	// .select__title
	&__title {
		color: inherit;
		text-align: left;
		cursor: pointer;
		width: 100%;
      padding: rem(11) rem(20);
      border: 1px solid var(--clr-white);
		border-radius: em(100);
      font-weight: 700;
	}
	// .select__value
	&__value {
		display: flex;
		align-items: center;
		height: rem(30);
		padding: 0 rem(15);
		gap: rem(10);
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: "";
         width: 0;
         height: 0;
         border-top: rem(8) solid var(--clr-yellow);
         border-right: rem(7) solid transparent;
         border-left: rem(7) solid transparent;
         border-radius: 50%;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		position: absolute;
		top: rem(55);
		border-radius: rem(8);
      overflow: hidden;
		min-width: 100%;
		left: 0;
		padding-top: rem(5);
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid rgba(255, 255, 255, 1);
      border-top: none;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;
		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		display: block;
		text-align: left;
		cursor: pointer;
		padding: 5px 15px;
		color: inherit;
      color: rgb(90, 90, 90);
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background: rgba(0, 0, 0, 0.2);
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	// Состояния селекта
	&._select-open {
		z-index: 5;
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
