.info-cta {
   margin-top: rem(20);
   @extend %fl-a-ct;
   width: 100%;
   padding: rem(11) rem(30);
   border: 1px solid var(--clr-yellow);
   filter: drop-shadow(0px 4px 50px rgba(251, 188, 27, 0.31));
   border-radius: em(100);
   transition: all 0.32s ease-in-out;
   @media(any-hover: hover) {
      &:hover {
         box-shadow: inset 2px 2px 5px rgba(251, 188, 27, 0.31),
                           2px 2px 25px rgba(251, 188, 27, 0.31);
         svg {
            transform: translateX(rem(5));
         }
      }
   }
   &:focus {
      outline: none;
      box-shadow: inset 2px 2px 5px rgba(251, 188, 27, 0.31),
                        2px 2px 25px rgba(251, 188, 27, 0.31);
      svg {
         transform: translateX(rem(5));
      }
   }
   @media(max-width: $mobileSmall) {
      padding: rem(9) rem(20);
   }
   span {
      font-weight: 700;
      line-height: 1.25;
   }
   svg {
      display: block;
      width: rem(35);
      height: rem(35);
      margin-left: rem(10);
      transition: all 0.32s ease-in-out;
   }
   &--revert {
      background-color: var(--clr-yellow);
   }
}