.product-description {
   @extend %fl-r-ct;
   &__text {
      margin-right: rem(45);
   }
   &__image {
      max-width: rem(495);
      width: 100%;
      @extend %ibg;
      padding-bottom: 22.1%;
      overflow: hidden;
      border-radius: rem(16);
   }
   p {
      margin-top: rem(10);
      line-height: 1.25;
   }
   @media(max-width: $mobile) {
      flex-direction: column-reverse;
      &__image {
         max-width: 100%;
         padding-bottom: 55.5%;
      }
      &__text {
         margin-right: 0;
         margin-top: rem(20);
      }
   }
   @media(max-width: $mobileSmall) { 
      p {
         font-size: rem(14);
      }
   }
}