.sales-card {

   &__image-box {
      display: block;
      @extend %ibg;
      padding-bottom: percent(270, 365);
      border-radius: rem(12);
      overflow: hidden;
      transition: all 0.32s ease-in-out;
      @media(any-hover: hover) {
         &:hover {
            img {
               transform: scale(1.1);
            }
         }
      }
      img {
         transition: all 0.32s ease-in-out;
      }
   }

   &__tips {
      position: absolute;
      z-index: 2;
      top: rem(17);
      left: rem(20);
   }

   > div {
      margin-top: rem(20);
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   > div div {
      display: flex;
      flex-direction: column;
   }

   > div p {
      font-weight: 500;
      line-height: 1.25;
      @media(max-width: $mobileNormal) {
         font-size: rem(14);
      }
   }

   div h3, h4 {
      font-weight: 900;
      font-size: rem(24);
      line-height: 1.25;
      @media(max-width: $mobileNormal) {
         font-size: rem(20);
      }
   }

   &__old-price {
      text-align: right;
      font-weight: 500;
      line-height: 1.25;
      text-decoration: line-through;
      @media(max-width: $mobileNormal) {
         font-size: rem(14);
      }
   }

   &__new-price {
      font-weight: 900;
      font-size: rem(24);
      line-height: 1.25;
      @media(max-width: $mobileNormal) {
         font-size: rem(20);
      }
   }
}