.tips {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   span {
      padding: rem(8) rem(20);
      margin-bottom: rem(8);
      border-radius: em(100);
      font-weight: 700;
      font-size: rem(18);
      line-height: 1.25;
      &:not(:last-child) {
         margin-right: rem(12);
      }
      box-shadow: 0px 4px 50px rgba(109, 109, 109, 0.31);
   }
   span.tips__yl {
      background: var(--clr-yellow);
   }

   span.tips__rd {
      color: var(--clr-white);
      background-color: var(--clr-accent);
   }

   span.tips__wh {
      color: var(--clr-yellow);
      background-color: var(--clr-white);
      font-weight: 900;
   }
}
