//====================================================================================================
.header {
   padding-top: rem(25);
   z-index: 20;
   &__upper {
      padding-bottom: rem(25);
      @extend %fl-r-ct;
   }

   &__logo {
      flex: 1 1 auto;
      &:not(:last-child) {
         margin-right: rem(15);
      }
   }

   &__location {
      &:not(:last-child) {
         margin-right: rem(37);
      }
      @media(max-width: $mobile) {
         display: none;
      }
   }

   &__social-list {
      &:not(:last-child) {
         margin-right: rem(40);
      }
      @media(max-width: $mobileNormal) {
         &:not(:last-child) {
            margin-right: rem(25);
         }
      }
      @media(max-width: em(389.98)) {
         display: none;
      }
   }

   &__callback {
      @media(max-width: $mobileNormal) {
         grid-template-columns: 1fr;
         .callback__link, button {
            display: none;
         }
         a:not(.callback__link) {
            width: rem(38);
            height: rem(38);
         }
      }
   }

   &__lower {
      z-index: 22;
      border-top: 1px dashed rgba(255, 255, 255, 0.5);
      border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
      .container {
         @extend %fl-r-ct;
      }
      @media(max-width: $tablet) {
         border-bottom: none;
      }
      transition: all 0.32s ease-in-out;
      &.sticked {
         background-color: rgba(0, 0, 0, 0.6);
         transform: translateY(-100%);
      }
      ._header-show &.sticked {
         transform: translateY(0);
      }
   }

   &__menu {
      flex: 1 1 auto;
   }

   &__benefits {
      @extend %fl-r-ct;
      flex-wrap: wrap;
      span:not(:last-child) {
         margin-right: rem(14);
      }
      span {
         padding: rem(8) rem(20);
         border-radius: rem(20);
         font-weight: 700;
         line-height: 1.25;
         &:first-child {
            background-color: var(--clr-yellow);
            color: var(--clr-black);
         }
         &:last-child {
            border: 1px solid var(--clr-yellow);
         }
      }
      @media(max-width: $tablet) {
         padding: rem(10) 0;
         flex-direction: column;
         align-items: flex-end;
         span:not(:last-child) {
            margin-right: 0;
            margin-bottom: rem(10);
         }
      }
      @media(max-width: $mobile) {
         display: none;
      }
   }

   &--home {
      color: var(--clr-white);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 20;
   }

   &--inner {
      .header__logo {
         span {color: var(--clr-black);}
         img {border-color: #d9d9d9;}
      }
      .social-list li a {box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);}
      .menu__body > ul > li.has-child {
         &::after {
            background-image: url('@img/icons/menu-arrow--dark.svg');
         }
      }
      .header__lower {
         border-color: #828288;
         &.sticked {
            color: var(--clr-white);
            .menu__body > ul > li.has-child {
               &::after {
                  background-image: url('@img/icons/menu-arrow.svg');
               }
            }
            .menu__body > ul > li a::after {
               background-color: var(--clr-white);
            }
         }
      }
      .icon-menu {
         &::before,&::after, span {
            background-color: var(--clr-black);
            .menu-open & {
               background-color: var(--clr-white);
            }
         }
      }
      margin-bottom: rem(45);
      @media(max-width: $mobile) {
         transition: transform 0.3s ease;
         &._header-scroll.header {
            background-color: rgba(255, 255, 255, 1);
         }
      }
      @media(max-width: $mobileSmall) {
         margin-bottom: rem(30);
      }
   }

   @media(max-width: $mobile) {
      transition: transform 0.3s ease;
      &._header-scroll {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         transform: translateY(-100%);
         background-color: rgba(0, 0, 0, 0.6);
      }
      &._header-scroll._header-show {
         transform: translateY(0);
      }
   }
}